body {
    font-family: sans-serif;
    background-color: aqua;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.header-text{
    text-align: center;
}